body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background: linear-gradient(180deg, #2906f0 1%, #dd0707 99%);
}

.navlink {
  color: white;
  text-decoration: none;
  transition: 0.3s;
  font-size: 20px;
}

.navlink:hover {
  color: rgb(39, 17, 233);
  text-decoration: none;
  transition: 0.3s;
  font-size: 20px;
}

/*navbar*/
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #e60a0a;
  height: 100px;
}

.nav-list {
  list-style: none;
  display: flex;
}

.nav-list li {
  letter-spacing: 3px;
  margin-left: 32px;
}

.body-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.navbar-container {
  display: flex;
  height: 10%;
  width: 100%;
}

.navbar-container nav {
  width: 100%;
}
