body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background: linear-gradient(180deg, #2906f0 1%, #dd0707 99%);
}

.navlink {
  color: white;
  text-decoration: none;
  transition: 0.3s;
  font-size: 20px;
}

.navlink:hover {
  color: rgb(39, 17, 233);
  text-decoration: none;
  transition: 0.3s;
  font-size: 20px;
}

/*navbar*/
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #e60a0a;
}

.nav-list {
  list-style: none;
  display: flex;
}

.nav-list li {
  letter-spacing: 3px;
  margin-left: 32px;
}

.carrossel-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.carrossel {
  /* ta dando bug nisso padding: 4rem;*/
  /*por que precisa ser em porcentagem? width: 60%;*/
  border-radius: 15px;
  overflow: hidden;
  margin-bottom: 100px;
  margin-top: 100px;
  height: 520px;
  width: 935px;
}

.navigation {
  position: absolute;
  bottom: 200px;
  left: 50%;
  transform: translate(-50%);
  display: flex;
}

.bar {
  width: 70px;
  height: 15px;
  border: 2px solid #72c6db;
  margin-left: 5px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.6s;
  margin-bottom: 37%;
}

.bar:hover {
  background-color: #fff;
}

input {
  display: none;
}

.slides {
  display: flex;
  width: 300%;
  height: 100%;
}

.slide {
  width: 34%;
  transition: 0.9s;
}

.slide img {
  width: 100%;
  height: 100%;
}

#slide1:checked~.s1 {
  margin-left: 0;
}

#slide2:checked~.s1 {
  margin-left: -34%;
}

#slide3:checked~.s1 {
  margin-left: -68%;
}

.body-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.navbar-container {
  display: flex;
  height: 10%;
  width: 100%;
}

.navbar-container nav {
  width: 100%;
}

.info-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.info-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 500px;
  height: 500px;
  background-color: #a5a5a5;
}

.info-card img {
  width: 500px;
  min-height: 250px;
  max-height: 250px;
}