.carrossel-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.carrossel {
  /* ta dando bug nisso padding: 4rem;*/
  /*por que precisa ser em porcentagem? width: 60%;*/
  border-radius: 15px;
  overflow: hidden;
  margin-top: 100px;
  height: 570px;
  width: 935px;
}

.navigation {
  display: flex;
  align-self: center;
  margin-top: 1rem;
}

.bar {
  width: 70px;
  height: 15px;
  border: 2px solid #72c6db;
  margin-left: 5px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.6s;
  margin-bottom: 15%;
}

.bar:hover {
  background-color: #fff;
}

input {
  display: none;
}

.slides {
  display: flex;
  width: 300%;
  height: 100%;
}

.slide {
  width: 34%;
  transition: 0.9s;
}

.slide img {
  width: 100%;
  height: 100%;
}

#slide1:checked ~ .s1 {
  margin-left: 0;
}

#slide2:checked ~ .s1 {
  margin-left: -34%;
}

#slide3:checked ~ .s1 {
  margin-left: -68%;
}

.info-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.info-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 500px;
  background-color: #b69edb;
  border-radius: 30px;
}

.info-card img {
  background-color: #fff;
  width: 100%;
  height: 250px;
  object-fit: contain;
  /*min-height: 250px;
  max-height: 250px;*/
}

.info-card:hover {
  box-shadow: 0px 0px 20px #ffff;
}

.info-container a {
  color: inherit;
  text-decoration: none;
}

.info-descr {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

a:hover {
  color: rgb(13, 0, 255);
}
