<!DOCTYPE html>
<html lang="pt">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>localizado</title>
    <link rel="stylesheet" href="style.css" />
    <header>
      <nav>
        <a class="logo" href="index.html"
          ><img src="/img/logopng.png" height="60px" alt=""
        /></a>
        <ul class="nav-list">
          <li><a class="navlink" href="index.html">inicio</a></li>
          <li><a class="navlink" href="sobre.html">sobre</a></li>
          <li><a class="navlink" href="local.html">local</a></li>
          <li><a class="navlink" href="contato.html">contato</a></li>
        </ul>
      </nav>
    </header>
  </head>
  <body></body>
</html>
